// body {
//     background-color: $yellow !important;
//     color: $red;
//     font-family: $fontfamily;
//     font: 100% $fontfamily;
// }

// p {
//     font-size: $size;
//     color: $red;
// }

// p:last-of-type {
//     color: $red;
// }

// p:last-of-type:hover {
//     color: $red;
// }

// p:hover {
//     color: $red;
// }

// h1 p {
//     color: $red;
// }

div.dataTables_wrapper div.dataTables_length select {
    width: 65px !important;
}

textarea#description.form-control {
    height: 150px;
}

h4.user-name.mb-0 {
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: capitalize;
}

// Multistep wizard form styling
.display-none {
    display: none;
}

.multi-wizard-step p {
    margin-top: 12px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    position: relative;
    width: 100%;
}

.multi-wizard-step button[disabled] {
    filter: alpha(opacity=100) !important;
    opacity: 1 !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    content: " ";
    width: 100%;
    height: 1px;
    z-order: 0;
    position: absolute;
    background-color: #fefefe;
}

.multi-wizard-step {
    text-align: center;
    position: relative;
    display: table-cell;
}

// End of Multistep wizard form styling